.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.active {
  font-weight: bold;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.center {
  text-align: center;
}

.leaderboard-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.leaderboard-list-item {
  text-align: center;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  padding: 10px;
}

.login-button {
  background-color: #4CAF50; /* Green */
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
  max-width: 500px;
  min-height: 300px;
  padding: 30px;
}

.modal-user-section {
  text-align: center;
}

.modal-user-list {
  list-style: none;
  padding: 10px;
}

.modal-user-list ul {
  display: flex;
  flex-direction: column;
}

.modal-user-item {
  cursor: pointer;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  margin: 5px 0;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  padding: 0 10px;
  margin: 0;
}

.nav li {
  padding: 20px;
  display : flex;
  align-items : center;
  justify-content: center;
}

.nav li:first-child {
  padding-left: 0;
  margin: 0;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.options-container {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.option-container {
  max-width: 590px;
  padding: 10px;
  margin: 20px;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.question {
  justify-content: center;
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.questions-list {
  text-align: center;
}

.question-list-item {
  justify-content: center;
}

.tab-active {
  opacity: 1;
}

.tab-inactive {
  opacity: 0.4;
}

.tab-item {
  display: inline-block;
  padding-right: 5;
  padding-left: 5;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding: 16px 30px;
  cursor: pointer;
}

.tab-list{
  list-style: none;
}

.tabs {
  justify-content: center;
  display: flex;
  padding-left: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  text-align: center;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}
